.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: -webkit-inline-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1%;
  padding-left: 5%;
}

.SelectBusiness {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5%;
  text-align: left;
  border-top-style: dashed;
  border-top-width: 10; 
  border-top-color: rgb(206, 206, 240);
}

.App-body {
  background-color: #4d5870;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: fit-content;
}

.Result {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  padding: 5%;
  height: fit-content;
  text-align: left;
}

.ImagesCarousel {
  height: 15%;
  width: 15%;
  background-color: black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}