.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SelectBusiness {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5%;
}

.App-body {
  background-color: #4d5870;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: fit-content;
}

.Result {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  padding: 5%;
  height: fit-content;
}

.Images {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 5%;
  height: fit-content;
}